/*字体高度，样式*/
html {
	font:normal 12px 'Microsoft YaHei',serif;
}
body {
	margin: 0;
 }	
 a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*头部*/
/*背景，高度*/
.first{
	background-color: #333333;
	height: 24px;
}
/*文本框架高度，位置*/
.one{
	width: 800px;
	margin: 0 auto;
}
/*生成一个伪元素*/
.first>.one::after{
	content: "";
	display: block;
	clear: both;
}
/*字体与顶部之间高度*/
.first>.one>div{
	padding-top: 4px;
}
/*浮动与字体颜色*/
.first>.one>.two{
	float: left;
	color: #9c8867;
}
.first a{
	color: #ededed;
}
.first>.one>.three{
	float: right;
}
/*生成一个伪元素*/
.first ul.four::after {
	content: "";
	display: block;
	clear: both;
}
/*浮动*/
.first ul.four >li {
	float: left;
}
.first ul.four >li a{
	display: inline-block;
	line-height: 1em;
	width: 70px;
	text-align: center;
	border-right: 1px solid #ededed;
}
.first ul.four >li:last-child a {
	border: none;
}
.fifth>.one>ul::after{
	content: "";
	display: block;
	clear: both;
}
.fifth>.one>ul>.two{
	float: left;
}
.fifth>.one>ul>.three{
	float: left;
}
.fifth>.one>ul>.four{
	float: right;
}
.fifth>.one>ul>.two{
	display: inline-block;
	width: 85px;
    height: 63px;
	text-align: center;
}
.fifth>.one>ul>.three{
	display: inline-block;
	width: 600px;
    height: 63px;
	text-align: center;
}
input[type=search]{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 300px;
	margin-top: 15px;
}
.fifth>.one >ul>.three>.fife::after{
	content: "";
	display: block;
	clear: both;
}
.fifth>.one>ul>.three>.fife>li{
	float: left;
}
.fifth>.one>ul>.three>.fife>li:nth-child(1){
	margin-left: 150px;
}
.fifth>.one>ul>.three>.fife>li a{
	display: inline-block;
	line-height: 1em;
	width: 70px;
	text-align: center;
	border-right: 1px solid #ededed;
}
.fifth>.one>ul>.four{
	display: inline-block;
	width: 115px;
    height: 63px;
	text-align: center;
}
.fifth>.one>ul>.four>.six{
    display: inline-block;
	margin-top: 15px;
	margin-left: 12px;
	border: 2px;
}
tr>td:nth-child(1){
	display: inline-block;
	height: 13px;
	width:13px;
}
tr>td:nth-child(2){
	display: inline-block;
	font-size: 24px;
}
/*首页栏*/
/*盒子上的高度*/
.second{
	margin-top: 5px;
}
/*盒子大小*/
.second>.one{
	height: 16px;
}
.second a{
	color: #333;
	font-weight: bold;
}
.second>.one>li{
	float: left;
	width: 72px;
}
.second li>a{
    display: inline-block;
	line-height: 1em;
	width: 70px;
	text-align: center;
}
.tired{
	margin-top: 5px;
	background-color: pink;
	height: 290px
}
.fourth>.one{
	background-color: #fff;
	height: 265px;
}
.fourth>.one{
	height: 30px;
}
.fourth>.one::after{
	content: "";
	display: block;
	clear: both;
}
.fourth>.one>ul>li{
	float: left;
}
.fourth>.one >ul>li:nth-child(1){
	font-weight: bold;
	font-size: 24px;
	margin-top: 2px;
	width: 150px;
}
.fourth>.one>ul>li:nth-child(2){
	font-size: 12px;
    margin-top: 16px;
    width: 600px;
}
.fourth>.one>ul>li:nth-child(3){
	font-size: 12px;
    margin-top: 16px;
    width: 50px;
}
.eighth{
	background-color: #ededed;
	padding: 2em 0;
}
.eighth>.one{
	margin-top: 5px;
}
.eighth > .one > ul::after {
	content: "";
	display: block;
	clear: both;
}
.eighth>.one>ul>li{
	float: left;
	height: 230px;
	width: 250px;	
	margin-right: 20px;
	background-color:#aec6c6;
}
.eighth>.one>ul>li:nth-child(3),
.eighth>.one>ul>li:nth-child(4){
	height:110px;
	margin-right: 0px;
}
.eighth>.one>ul>li:nth-child(3){
	margin-bottom: 10px;
}
.sixth{
	background-color: #f4f0ea;
	margin-top: 5px;
	padding: 1em 0;
}
.sixth>.one{
	height: 30px;
}
.sixth>.one>ul::after{
	content: "";
	display: block;
	clear: both;
}
.sixth>.one>ul>li{
	float: left;
}
.sixth>.one>ul>li:nth-child(1){
    font-weight: bold;
	font-size: 24px;
	margin-top: 2px;
	width: 150px;
}
.sixth>.one>ul>li:nth-child(2){
	font-size: 12px;
    margin-top: 16px;
    width: 550px;
}
.sixth>.one>ul>li:nth-child(3){
	font-size: 12px;
    margin-top: 16px;
    width: 100px;
}
.seventh{
	background-color: #f4f0ea;
	padding: 1em 0;
}
.seventh>.one{
	height: 250px;
}
.seventh>.one>ul::after{
	content: "";
	display: block;
	clear: both;
}
.seventh>.one>ul>li{
	float: left;
	height: 250px;
	width: 185px;	
	margin-right: 20px;
	background-color:#aec6c6;
}
.seventh>.one>ul>li:nth-child(4){
	margin-right: 0;
}
.ninth{
	background-color: #f4f0ea;
	margin-top: 5px;
	padding: 1em 0;
}
.ninth>.one{
	height: 30px;
}
.ninth>.one>ul::after{
	content: "";
	display: block;
	clear: both;
}
.ninth>.one>ul>li{
	float: left;
}
.ninth>.one>ul>li:nth-child(1){
    font-weight: bold;
	font-size: 24px;
	margin-top: 2px;
	width: 150px;
}
.ninth>.one>ul>li:nth-child(2){
	font-size: 12px;
    margin-top: 16px;
    width: 150px;
}
.ninth>.one>ul>li:nth-child(3){
	font-size: 12px;
    margin-top: 16px;
    width: 400px;
}
.ninth>.one>ul>li:nth-child(4){
	font-size: 12px;
    margin-top: 16px;
    width: 100px;
}
.tenth {
	background-color: #ededed;
	padding: 2em 0;

}
.tenth>.one{
	height: 370px;
}
.tenth > .one > ul::after {
	content: "";
	display: block;
	clear: both;
}
.tenth > .one > ul >li {
	float: left;
	width: 157px;
	height: 180px;
	margin-right:19px;
	background-color: #fff;
}
.tenth > .one > ul >li:nth-child(1){
	width: 270px;
	height: 370px;
}
.tenth > .one > ul >li:nth-child(4),
.tenth > .one > ul >li:nth-child(7){
	margin-right: 0;
}
.tenth > .one > ul >li:nth-child(2),
.tenth > .one > ul >li:nth-child(3),
.tenth > .one > ul >li:nth-child(4){
	margin-bottom: 10px;
}
.eleveth>.one{
	height: 30px;
}
.eleveth > .one::after {
	content: "";
	display: block;
	clear: both;	
}
.eleveth > .one> .two{
	float: left;
	font-size: 24px;
	font-weight: bold;
	margin-top: 3px;
}
.eleveth > .one> .three{
	float: right;
}
.eleveth ul.four::after {
	content: "";
	display: block;
	clear: both;
}
.eleveth ul.four >li {
	float: left;
	margin-top: 15px;
}

.eleveth ul.four >li a{
	display: inline-block;
	line-height: 1em;
	width: 70px;
	text-align: center;
	border-right: 1px solid #fff;
}
.eleveth ul.four >li:last-child a {
	border: none;
}
.eleveth>.fife{
	width: 800px;
	margin: 0 auto;
	height: 480px;
}
.eleveth>.fife> ul >li {
	float: left;
	width: 185px;
	height: 245px;
	margin-right: 20px;
	background-color: #aec6c6;
}
.eleveth>.fife> ul >li:nth-child(1){
	width: 800px;
	height: 215px;
	margin-right: 0px;
	margin-bottom: 20px;
}
.eleveth>.fife> ul >li:nth-child(5){
	margin-right: 0px;
}
.zenx{
	background-color: #f4f0ea;
}
.zenx>.one{
	height: 30px;
}
.zenx > .one::after {
	content: "";
	display: block;
	clear: both;	
}
.zenx > .one> .two{
	float: left;
	font-size: 24px;
	font-weight: bold;
	margin-top: 3px;
	width: 100px;
}
.zenx > .one> .three{
	float: left;
	margin-top: 15px;
}
.zenxian{
	background-color: #f4f0ea;
	padding: 1em 0;
}
.zenxian>.one {
	height: 260px;
	margin-top: 5px;
}
.zenxian > .one > ul::after {
	content: "";
	display: block;
	clear: both;
}
.zenxian>.one>ul>li {
	float: left;
	width: 280px;
	height: 127px;
	margin-left: 20px;
	background-color: #aec6c6;
}
.zenxian>.one > ul >li:nth-child(1){
	width: 480px;
	height: 260px;
	margin-left: 0px;
}
.zenxian>.one > ul >li:nth-child(2){
	margin-bottom: 6px;
}
.foot {
	background-color:  #ededed;
	color: #333;
}
.foot > .one::after {
	content: "";
	display: block;
	clear: both;	
}
.foot >.one>div {
	float: left;
    height: 210px;
    width: 266px;
    margin-right: 1px;
    background-color: #fff;
}
.foot > .one>.four{
	margin-right: 0px;
}
.foot >.one>.two>div {
	float: left;
    height: 136px;
    width: 133px;
    text-align: center;
}
.foot >.one>.two>div:nth-child(1){
	height: 34px;
    width: 266px;
    padding-top: 40px;
}
.foot >.one>.two::after {
	content: "";
	display: block;
	clear: both;	
}
.foot >.one>.three>div {
	float: left;
    width: 266px;
    text-align: center;
}
.foot >.one>.three>div:nth-child(1){
	height: 34px;
    padding-top: 40px;
}
.foot >.one>.three>div:nth-child(2){
	font-size: 10px;
	margin: 0px 33px 10px;
	width: 200px;
}
.foot >.one>.three>div:nth-child(3){
	width: 100px;
	margin-top: 5px;
}
.foot >.one>.three>div:nth-child(4),
.foot >.one>.three>div:nth-child(5),
.foot >.one>.three>div:nth-child(6){
    width: 40px
}
.foot >.one>.four>div {
	float: left;
    width: 266px;
    text-align: center;
}
.foot >.one>.four>div:nth-child(1){
	height: 34px;
    padding-top: 40px;
}
.foot >.one>.four>div:nth-child(3){
	font-size: 7px;
}
.bottom{
	background-color: #414141;
	color: #fff;
}
.bottom> .one>.two::after {
	content: "";
	display: block;
	clear: both;	
}
.bottom >.one> .two>div {
	float: left;
    height: 70px;
    width: 200px;
}
.bottom >.one> .two>.four::after {
	content: "";
	display: block;
	clear: both;	
}
.bottom >.one> .two>.four>div {
	float: left;
    width:100px;
}
.bottom >.one> .two>.four>div:nth-child(1){
	padding-top:15px; 
    width:40px;
    margin-left: 30px;
}
.bottom >.one> .two>.four>div:nth-child(2){
	padding-top:25px;
	width:130px; 
}
.bottom >.one> .two>.fife::after {
	content: "";
	display: block;
	clear: both;	
}
.bottom >.one> .two>.fife>div {
	float: left;
    width:100px;
}
.bottom >.one> .two>.fife>div:nth-child(1){
	padding-top:15px; 
    width:40px;
    margin-left: 30px;
}
.bottom >.one> .two>.fife>div:nth-child(2){
	padding-top:25px;
	width:130px; 
}
.bottom >.one> .two>.six::after {
	content: "";
	display: block;
	clear: both;	
}
.bottom >.one> .two>.six>div {
	float: left;
    width:100px;
}
.bottom >.one> .two>.six>div:nth-child(1){
	padding-top:15px; 
    width:40px;
    margin-left: 30px;
}
.bottom >.one> .two>.six>div:nth-child(2){
	padding-top:25px;
	width:130px; 
}
.bottom >.one> .two>.seven::after {
	content: "";
	display: block;
	clear: both;	
}
.bottom >.one> .two>.seven>div {
	float: left;
    width:100px;
}
.bottom >.one> .two>.seven>div:nth-child(1){
	padding-top:15px; 
    width:40px;
    margin-left: 30px;
}
.bottom >.one> .two>.seven>div:nth-child(2){
	padding-top:25px;
	width:130px; 
}
.bottom>.one>.three{
	height: 35px;
	margin-top: 2px;
}
.bottom>.one>.three>.ten{
	width: 630px;
	margin: 0 auto;
	padding-top: 10px;
}
.bottom>.one>.three>.ten::after {
	content: "";
	display: block;
	clear: both;
}
.bottom>.one .ten>ul> li {
	float: left;
	width: 70px;
}
.bottom>.one>.three >li a{
	display: inline-block;
	line-height: 1em;
	width: 70px;
	text-align: center;
	border-right: 1px solid #ededed;
}
.bottom>.one>.three li:last-child a {
	border: none;
}